.loadMessage {
    width: 2em;
    height: 2em;
    margin: auto;
    padding-top: 15px;
    background-color: #337ab7;
    animation: loadMessage 1.2s infinite ease-in-out
}
@keyframes loadMessage {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg)
   }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
   }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg)
   }
}