@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@700&display=swap");

body {
  background: #333;
  color: snow;
  display: flex;
  justify-content: center;
  font-family: "Old Standard TT", serif;
}

#center {
  margin: 50px 0;
  font-size: 20px;
}

.header {
  margin-bottom: 15px;
}

.equalization-text {
  font-size: 15px;
}

.exchange {
  display: flex;
}

.exch-left {
  margin-right: 10px;
}

.convert {
  margin: 10px 0 0 20px;
  outline: none;
  height: 30px;
  width: 120px;
  cursor: pointer;
}

input {
  width: 152px;
  height: 25px;
  margin: 10px 0;
  outline: none;
}

button {
  height: 35px;
  width: 50px;
  cursor: pointer;
  outline: none;
}

.color {
  color: rgb(255, 251, 0);
}

.dollar {
  color: rgb(13, 255, 194);
}
.euro {
  color: rgb(3, 162, 202);
}

.active-left {
}

.active-right {
}
